{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          {% for posts in posts_list %}
          <!-- post -->
          <div class="post col-xl-6">
            <div class="post-thumbnail"><a href="{% url 'post-detail' posts.slug %}"><img src=" {{ posts.thumbnail.url }}" alt="..."
                  class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ posts.timestamp|date:"d M" }} | {{ posts.timestamp|date:"Y" }}</div>
                
                <div class="category">
                  {% for cat in posts.categories.all %}
                  <a href="{% url 'category-detail' cat.slug %}">{{ cat }} </a>
                  {% endfor %}
                </div>
                
              </div><a href="{% url 'post-detail' posts.slug %}">
                <h3 class="h4">{{ posts.title }}</h3>
              </a>
              <p class="text-muted">{{ posts.overview |safe|truncatewords:30 }}</p>
              <footer class="post-footer d-flex align-items-center">
                <div
                  class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{{ posts.author.profile_pic.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{ posts.author }}</span></div>
              </div>
                <div class="date"><i class="icon-clock"></i> {{ posts.timestamp|timesince }} ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ posts.comment_count }}</div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">
            {% if posts_list.has_previous %}
            <li class="page-item"><a href="?{{ page_num }}={{ posts_list.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            <li class="page-item"><a href="" class="page-link active">{{ posts_list.number }}</a></li>
            
            {% if posts_list.has_next %}
            <li class="page-item"><a href="?{{ page_num }}={{ posts_list.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </main>
    {% include 'sidebar.html' with recent_post_list=recent_post_list category_count=category_count  tags_list=tags_list %}
  </div>
</div>
{% endblock content %}