{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          {% for posts in posts_list %}
          <!-- post -->
          <div class="post col-xl-6">
            <div class="post-thumbnail"><a href="{% url 'post-detail' posts.slug %}"><img src=" {{ posts.thumbnail.url }}" alt="..."
                  class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ posts.timestamp|date:"d M" }} | {{ posts.timestamp|date:"Y" }}</div>
                {% for cat in posts.categories.all %}
                <div class="category">
                  <a href="#">{{ cat }}</a>
                </div>
                {% endfor %}
              </div><a href="{% url 'post-detail' posts.slug %}">
                <h3 class="h4">{{ posts.title }}</h3>
              </a>
              <p class="text-muted">{{ posts.overview }}</p>
              <footer class="post-footer d-flex align-items-center"><a href="#"
                  class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{{ posts.author.profile_pic.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{ posts.author }}</span></div>
                </a>
                <div class="date"><i class="icon-clock"></i> {{ posts.timestamp|timesince }} ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ posts.comment_count }}</div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">
            {% if posts_list.has_previous %}
            <li class="page-item"><a href="?{{ page_num }}={{ posts_list.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            <li class="page-item"><a href="" class="page-link active">{{ posts_list.number }}</a></li>
            
            {% if posts_list.has_next %}
            <li class="page-item"><a href="?{{ page_num }}={{ posts_list.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <header>
          <h3 class="h6">Search the blog</h3>
        </header>
        <form action="{% url 'search-result' %}" class="search-form">
          <div class="form-group">
            <input type="text" name="q" placeholder="What are you looking for?">
            <button type="submit" class="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
      <!-- Widget [Latest Posts Widget] -->
      <div class="widget latest-posts">
        <header>
          <h3 class="h6">Latest Posts</h3>
        </header>
        <div class="blog-posts">
          {% for recent_post in recent_post_list %}
          <a href="{% url 'post-detail' recent_post.slug %}">
            <div class="item d-flex align-items-center">
              <div class="image"><img src="{{ recent_post.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>{{ recent_post.title }}</strong>
                <div class="d-flex align-items-center">
                  <div class="views"><i class="icon-eye"></i> 500</div>
                  <div class="comments"><i class="icon-comment"></i>{{ recent_post.comment_count }}</div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <header>
          <h3 class="h6">Categories</h3>
        </header>
        {% for category in category_count %}
        <div class="item d-flex justify-content-between">
          <a href="#">{{ category.categories__title }}</a>
          <span>
              {{ category.categories__title__count }}
          </span>
        </div>
        {% endfor %}
      </div>
      <!-- Widget [Tags Cloud Widget]-->
      <div class="widget tags">
        <header>
          <h3 class="h6">Tags</h3>
        </header>
        <ul class="list-inline">
          {% for tag in tags_list%}
          <li class="list-inline-item tag">{{ tag.title }}</li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </div>
</div>
{% endblock content %}