{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <section style="background: url({% static 'img/desert_dark.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1>Take only memories. <br> Leave only footprints.</h1><a href="{% url 'blog' %}" class="hero-link">Discover More</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2>About Us</h2>
            <p class="text-big">The Backpack is an award-winning solo travel blog featuring travel tips, packing guides, videos and photography from around the world.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        
        <!-- Featured Posts-->
        {% for feat_post in featured_post_list %}
        <div class="row d-flex align-items-stretch">

          {% if not forloop.first and not forloop.last %}
          <div class="image col-lg-5"><img src="{{ feat_post.thumbnail.url }}" alt="..."></div>
          {% endif %}

          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    {% for cat in feat_post.categories.all %}
                    <a href="{% url 'category-detail' cat.slug %}">{{ cat }}</a>
                    {% endfor %}
                  </div>
                  <a href="{{ feat_post.get_absolute_url }}">
                    <h2 class="h4">{{ feat_post.title }}</h2>
                  </a>
                </header>
                <p class="text-justify">{{ feat_post.overview | safe | truncatewords:40 }}</p>
                <footer class="post-footer d-flex align-items-center">
                  <div class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ feat_post.author.profile_pic.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ feat_post.author }}</span></div>
                  </div>
                  <div class="date"><i class="icon-clock"></i> {{ feat_post.timestamp|timesince }} ago</div>
                  <div class="comments"><i class="icon-comment"></i>{{ feat_post.comment_count }}</div>
                </footer>
              </div>
            </div>
          </div>

          {% if forloop.first or forloop.last %}
          <div class="image col-lg-5"><img src="{{ feat_post.thumbnail.url }}" alt="..."></div>
          {% endif %}

        </div>
        {% endfor %}

        
        
          
        
      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'img/section-header.jpg' %}); background-size: cover; background-position: center top" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center travel-quote">The World is a book and those who do not travel read only a page.</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big">Time to read some amazing stories.</p>
        </header>
        <div class="row">
          {% for latest_post in latest_post_list %}

          <div class="post col-md-4">
            <div class="post-thumbnail"><img src="{{ latest_post.thumbnail.url }}" alt="..." class="img-fluid"></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">{{ latest_post.timestamp }}</div>
                <div class="category">
                  {% for cat in latest_post.categories.all %}
                    <a href="{% url 'category-detail' cat.slug %}">{{ cat }}</a>
                  {% endfor %}
                </div>
              </div><a href="{{ latest_post.get_absolute_url }}">
                <h3 class="h4">{{ latest_post.title }}</h3></a>
              <p class="text-muted text-justify">{{ latest_post.overview | safe | truncatewords:30 }}</p>
            </div>
          </div>
          {% endfor %}
          
          
        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
   
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-1.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-2.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-3.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-4.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>

    {% endblock content %}