{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <!-- post container -->
        <div class="post-single">
          <!-- post thumbnail -->
          <div class="post-thumbnail"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <!-- post category -->
            <div class="post-meta d-flex justify-content-between">
              
              <div class="category">
                {% for cat in post.categories.all %}
                <a href="{% url 'category-detail' cat.slug %}">{{ cat }}</a>
                {% endfor %}
              </div>
              
            </div>
            <h1>{{ post.title }}</h1>
            <!-- post meta(title author like comment) -->
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><div
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{ post.author.profile_pic.url }}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{ post.author }}</span></div>
            </div>
              <div class="d-flex align-items-center flex-wrap">
                <div class="date"><i class="icon-clock"></i> {{ post.timestamp | timesince }} ago</div>
                <div id="like-count" class="views"> {{ post.likes.count }}
                </div>
                <div class="comments meta-last"><i class="icon-comment"></i>12</div>
              </div>
            </div>
            <!-- post body -->
            <div class="post-body">
              {{ post.overview | safe }}
            </div>
            <!-- vote section -->
            <div id="like-section">
              {% include 'like-section.html' %}
            </div>
            <!-- post tags -->
            <div class="post-tags">
              {% for tag in post.tags.all %}
              <li class="list-inline-item tag"># {{ tag }}</li>
              {% endfor %}
            </div>
            <!-- previous/next post link -->
            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
              {% if post.get_next_by_timestamp %}
              <a href="{% url 'post-detail' post.get_next_by_timestamp.slug %}"
                class="prev-post text-left d-flex align-items-center">
                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                <div class="text"><strong class="text-primary">Previous Post </strong>
                  <h6>{{ post.get_next_by.title }}</h6>
                </div>
              </a>
              {% endif %}

              {% if post.get_previous_by_timestamp %}
              <a href="{% url 'post-detail' post.get_previous_by_timestamp.slug %}"
                class="next-post text-right d-flex align-items-center justify-content-end">
                <div class="text"><strong class="text-primary">Next Post </strong>
                  <h6>{{ post.get_previous_by.title }}</h6>
                </div>
                <div class="icon next"><i class="fa fa-angle-right"> </i></div>
              </a>
              {% endif %}
            </div>
            <!-- comment section -->

            <div class="comment-section">
              {% include 'comment-section.html' %}
            </div>
           
            <!-- / comment section -->
          </div>
        </div>
      </div>
    </main>
    <!-- blog sidebar -->
    {% include 'sidebar.html' with recent_post_list=recent_post_list category_count=category_count tags_list=tags_list %}
    <!-- / blog sidebar -->
  </div>
</div>
{% endblock content %}